//base
@import './base/common';

//components
@import './components/button';
@import './components/container';
@import './components/section-title';
@import './components/about-modal';

//utilities
@import './utilities/variables';
@import './utilities/visually-hidden';
@import './utilities/socials';
@import './utilities/backdrop';

//layout
@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';
