.backdrop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  // max-width: 480px;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.3);

  transition: 1050ms $timing-function;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-2 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  // max-width: 480px;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.3);

  transition: 1050ms $timing-function;
}

.is-hidden-2 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
