.footer__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 12px 0px 12px;
    width: 34px;
    height: 34px;

    transition: $trans-duration $timing-function;
    transition-property: background-color, transform;

    background-color: #fea5bb;
    border-radius: 50%;
  
    &:hover,
    &:focus {
      background-color: #d41443;
  }
}

.footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: $colorFont-white;
}

.footer__icon {
    fill: currentColor;
}

