:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    --trans-duration:  350ms;
}


//цвета шрифтов
$colorFont-white: #fff;
$colorFont-red: #d41443;
$colorFont-pink: #ffa5ba;
$colorFont-black: #000000;
$colorFont-gray: #907e82;

//цвета фонов
$pink-basic-background: #ffb8ca;
$pink-circle-background: #ffa5ba;
$pink-mobile-menu-background: #e17992;
$wite-basic-background: #ffffff;
$light-pink-background: #fff5f6;
$buttonColor-light-red: #d41443;
$buttonColor-red: #d41342;
$buttonColor-white: #ffffff;
$buttonColor-Hover-red: #c7133e;
$buttonColor-Hover-gray: #ecebeb;
$background-beige: #f0d1a5;
$background-light-green: #c2e297;

//переходы - transition & transform
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$trans-duration: 350ms;

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
