<!-- Advantages -->
<section class="section advantages">
  <h2 class="section__title visually-hidden">Advantages</h2>
  <ul class="advantages__list list">
    <li class="advantages__item">
      <p class="advantages__heading advantages__heading--first">
        <span class="advantages__heading--moving">721</span>
      </p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__heading advantages__heading--second">
        <span class="advantages__heading--moving">16kg</span>
      </p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__heading advantages__heading--third">
        <span class="advantages__heading--moving">84</span>
      </p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
