<section class="section advantages">
  <h2 class="section__title visually-hidden">Advantages</h2>
  <ul class="advantages__list list">
    <li class="advantages__item advantages__item--first">
      <span class="advantages__text--biggest advantages__text--moving">721</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item advantages__item--second">
      <span class="advantages__text--biggest advantages__text--moving">16kg</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item advantages__item--third">
      <span class="advantages__text--biggest advantages__text--moving">84</span>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
