<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="section__title visually-hidden">Contacts</h2>
    <ul class="cards">
      <li class="cards__item">
        <p class="cards__title">CAFE</p>

        <div class="cards__adress">
          <p class="cards__desc cards__desc--margin">Chicago</p>
          <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="cards__adress">
          <p class="cards__desc">Monday - Friday</p>
          <p class="cards__timetable cards__timetable--margin">06:00 AM - 10:00 PM</p>
          <p class="cards__desc">Saturday - Sunday</p>

          <p class="cards__timetable">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts-nav">
          <li class="contacts-nav__item">
            <a class="contacts-nav__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-nav__item">
            <a class="contacts-nav__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="cards__item">
        <p class="cards__title cards__title--color">FOODTRUCK</p>

        <div class="cards__adress">
          <p class="cards__desc cards__desc--margin">Los Angeles</p>
          <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="cards__adress">
          <p class="cards__desc">Monday - Friday</p>
          <p class="cards__timetable cards__timetable--margin">06:00 AM - 10:00 PM</p>
          <p class="cards__desc">Saturday - Sunday</p>

          <p class="cards__timetable">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts-nav">
          <li class="contacts-nav__item">
            <a class="contacts-nav__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-nav__item">
            <a class="contacts-nav__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="cards__item">
        <p class="cards__title">CAFE</p>

        <div class="cards__adress">
          <p class="cards__desc cards__desc--margin">New York</p>
          <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="cards__adress">
          <p class="cards__desc">Monday - Friday</p>
          <p class="cards__timetable cards__timetable--margin">06:00 AM - 10:00 PM</p>
          <p class="cards__desc">Saturday - Sunday</p>

          <p class="cards__timetable">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts-nav">
          <li class="contacts-nav__item">
            <a class="contacts-nav__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-nav__item">
            <a class="contacts-nav__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="buttons">
      <li class="buttons__item">
        <button class="button button--red button--size" type="button" data-map-open>
          Our Locations
          <svg class="buttons-icon" width="4" height="8">
            <use class="" href="/images/sprite-icons.svg#icon-pointer-stroke"></use>
          </svg>
        </button>
      </li>
      <li class="buttons__item">
        <button class="button button--size" type="button">
          Franchise
          <svg class="buttons-icon" width="4" height="8">
            <use href="/images/sprite-icons.svg#icon-pointer"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
