<footer class="footer">
  <div class="container container__footer">
    <div class="footter__duplicate-header">
      <p class="footter__duplicate-header--pink">homemade ice cream made</p>
      <p class="footter__duplicate-header--red">with passion</p>
    </div>
    <div class="footer__contact">
      <div class="footer__social">
        <ul class="footer__list">
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
              name="github"
            >
              <svg class="footer__icon" width="19" height="19">
                <use href="./images/sprite-icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon" width="19" height="15">
                <use href="./images/sprite-icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon" width="9" height="19">
                <use href="./images/sprite-icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact-text">
          Feel free to contact
          <a class="footer__phone" href="tel:+61(0)383766284"> +61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__signature">
    <p class="footer__signature-description">&copy; 2019 - IceCream.</p>
    <p class="footer__signature-description">All Rights Reserved.</p>
  </div>
</footer>
