<section class="gallery-grid">
  <div class="wrapper-gallery">
    <div class="wrapper-gallery__element wrapper-gallery__element--1">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-1-better.png 1x,
            ./images/collage-photo/gallery-img-1@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-1-better.webp 1x,
            ./images/collage-photo/gallery-img-1@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--2">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-2-better.png 1x,
            ./images/collage-photo/gallery-img-2@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-2-better.webp 1x,
            ./images/collage-photo/gallery-img-2@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--3">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-3-better.png 1x,
            ./images/collage-photo/gallery-img-3@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-3-better.webp 1x,
            ./images/collage-photo/gallery-img-3@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--4">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-4-better.png 1x,
            ./images/collage-photo/gallery-img-4@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-4-better.webp 1x,
            ./images/collage-photo/gallery-img-4@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--5">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-5-better.png 1x,
            ./images/collage-photo/gallery-img-5@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-5-better.webp 1x,
            ./images/collage-photo/gallery-img-5@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream and dog" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--6">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-6-better.png 1x,
            ./images/collage-photo/gallery-img-6@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-6-better.webp 1x,
            ./images/collage-photo/gallery-img-6@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--7">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-7-better.png 1x,
            ./images/collage-photo/gallery-img-7@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-7-better.webp 1x,
            ./images/collage-photo/gallery-img-7@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--8">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-8-better.png 1x,
            ./images/collage-photo/gallery-img-8@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-8-better.webp 1x,
            ./images/collage-photo/gallery-img-8@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream and girl" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--9">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-9-better.png 1x,
            ./images/collage-photo/gallery-img-9@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-9-better.webp 1x,
            ./images/collage-photo/gallery-img-9@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--10">
      <picture>
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-10-better.png 1x,
            ./images/collage-photo/gallery-img-10@2x.png     2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="
            ./images/collage-photo/gallery-img-10-better.webp 1x,
            ./images/collage-photo/gallery-img-10@2x.webp     2x
          "
          type="image/webp"
        />
        <img class="wrapper-gallery__img" src="#" alt="milk-shake" />
      </picture>
    </div>
  </div>
</section>
