<section class="section gallery">
  <div class="gallery__container">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="./images/desktop/gallery.jpg 1x, ./images/desktop/gallery@2x.jpg 2x"
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/tablet/gallery.jpg 1x, ./images/tablet/gallery@2x.jpg 2x"
        type="image/jpg"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/mobile/gallery.jpg 1x, ./images/mobile/gallery@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="gallery__image" src="#" alt="photo-collage" loading="lazy" />
    </picture>
  </div>
</section>
