<!-- <section class="section gallery">
  <div class="gallery__container">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="./images/desktop/gallery.jpg 1x, ./images/desktop/gallery@2x.jpg 2x"
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/tablet/gallery.jpg 1x, ./images/tablet/gallery@2x.jpg 2x"
        type="image/jpg"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/mobile/gallery.jpg 1x, ./images/mobile/gallery@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="gallery__image" src="#" alt="photo-collage" loading="lazy" />
    </picture>
  </div>
</section> -->

<!-- gallery version with grid -->
<section class="gallery-grid">
  <div class="wrapper-gallery">
    <div class="wrapper-gallery__element wrapper-gallery__element--1">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-1-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-1-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-1.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-1.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--2">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-2-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-2-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-2.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-2.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--3">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-3-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-3-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-3.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-3.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--4">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-4-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-4-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-4.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-4.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--5">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-5-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-5-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-5.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-5.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream and dog" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--6">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-6-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-6-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-6.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-6.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--7">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-7-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-7-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-7.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-7.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--8">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-8-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-8-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-8.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-8.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream and girl" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--9">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-9-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-9-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-9.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-9.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
    <div class="wrapper-gallery__element wrapper-gallery__element--10">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-10-better.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/collage-photo/gallery-img-10-better.png"
          type="image/png"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-10.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 280px)"
          srcset="./images/collage-photo/gallery-img-10.jpg"
          type="image/jpg"
        />
        <img class="wrapper-gallery__img gallery__img" src="#" alt="ice-cream" />
      </picture>
    </div>
  </div>
</section>
