<section class="products_padding" id="products">
    <div class="container">
        <p class="natural">100% natural</p>
        <h2 class="section__title">products</h2>
        <ul class="products">
            <li class="products__item ice_cream">
                <picture class="products__img">
                    <source srcset="./images/desktop/products-icecream.png 1x, ./images/desktop/products-icecream@2x.png  2x"
                        media="(min-width: 1200px)" type="image/png">
                    
                    <source srcset="./images/tablet/products-icecream.png 1x, ./images/tablet/products-icecream@2x.png  2x"
                        media="(min-width: 768px)" type="image/png">
                    
                    <source srcset="./images/mobile/products-icecream.png 1x, ./images/mobile/products-icecream@2x.png  2x"
                        media="(max-width: 767px)" type="image/png">
                    
                    <img src="./images/tablet/products-icecream.png" alt="ice cream" />
                </picture>
                <div>
                    <div class="products__animation">
                        <h3 class="products__titel">ice cream</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et</p>
                        <div class="animation  animation-modal">
                            <div class="products__modal ice_cream__modal">
                                <h3 class="animation__titel">Lorem</h3>
                                <ul class="animation__list">
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="products__btn" type="button">
                        <svg class="products__icon" width="28" height="22">
                            <use href="./images/sprite-icons.svg#icon-pointer-no-fill"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item ice_coffee">
                <picture class="products__img">
                    <source srcset="./images/desktop/products-coffee.png 1x, ./images/desktop/products-coffee@2x.png  2x"
                        media="(min-width: 1200px)" type="image/png">
                
                    <source srcset="./images/tablet/products-coffee.png 1x, ./images/tablet/products-coffee@2x.png  2x"
                        media="(min-width: 768px)" type="image/png">
                
                    <source srcset="./images/mobile/products-coffee.png 1x, ./images/mobile/products-coffee@2x.png  2x"
                        media="(max-width: 767px)" type="image/png">
                
                    <img src="./images/tablet/products-coffee.png" alt="ice coffee" />
                </picture>
                <div>
                    <div class="products__animation">
                        <h3 class="products__titel">ice coffee</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et</p>
                        <div class="animation animation-modal-2">
                            <div class="products__modal ice_coffee__modal">
                                <h3 class="animation__titel">Lorem</h3>
                                <ul class="animation__list">
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="products__btn modal__btn-2" type="button">
                        <svg class="products__icon" width="28" height="22">
                            <use href="./images/sprite-icons.svg#icon-pointer-no-fill"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item milkshakes">
                <picture class="products__img">
                    <source srcset="./images/desktop/products-milkshakes.png 1x, ./images/desktop/products-milkshakes@2x.png  2x"
                        media="(min-width: 1200px)" type="image/png">
                
                    <source srcset="./images/tablet/products-milkshakes.png 1x, ./images/tablet/products-milkshakes@2x.png  2x"
                        media="(min-width: 768px)" type="image/png">
                
                    <source srcset="./images/mobile/products-milkshakes.png 1x, ./images/mobile/products-milkshakes@2x.png  2x"
                        media="(max-width: 767px)" type="image/png">
                
                    <img src="./images/tablet/products-milkshakes.png" alt="milkshakes" />
                </picture>
                <div>
                    <div class="products__animation">
                        <h3 class="products__titel">milkshakes</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et</p>
                        <div class="animation animation-modal-3">
                            <div class="products__modal milkshakes__modal">
                                <h3 class="animation__titel">Lorem</h3>
                                <ul class="animation__list">
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                    <li class="animation__text">- Lorem, ipsum dolor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="products__btn modal__btn-3" type="button">
                        <svg class="products__icon" width="28" height="22">
                            <use href="./images/sprite-icons.svg#icon-pointer-no-fill"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>