<section class="section section-rewiew" id="#customer-reviews">
    <div class="container">
    <ul class="rewiew_list">
        <li class="rewiew_item">
            <picture class="rewiew_image">
                <source srcset="./images/customer1.jpg 1x, ./images/customer1@2x.jpg 2x" type="image" />
                <img src="./images/customer1.jpg" alt="First girl" />
            </picture>
            <div class="rewiew-box">
                <p class="rewiew-box_text"> I think we all are Ice cream lovers and the best five Ice cream from my opinion are Cornetto: This is
                    a frozen dessert cone, the best flavor is Strawberry because it tastes like I'm eating Strawberry with some chocolate.
                </p>
            </div>
            <div>
                <div class="rewiew-circle">
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                </div>
                <p class="rewiew_name">Emily, Los Angeles</p>
            </div>
        </li>
        <li class="rewiew_item none">
            <picture class="rewiew_image">
                <source srcset="./images/customer2.jpg 1x, ./images/customer2@2x.jpg 2x" type="image" />
                <img src="./images/customer2.jpg" alt="First girl" />
            </picture>
            <div class="rewiew-box">
                <p class="rewiew-box_text">I am not a big fan of sweets. But even then there are certain sweets that make me go gag a over them.
                    I am very particular about these especially chocolates and Ice creams. I love those that are not too sweet.
                </p>
            </div>
            <div>
                <div class="rewiew-circle">
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                </div>
                <p class="rewiew_name">Britney, San Diego</p>
            </div>
        </li>
        <li class="rewiew_item none">
            <picture class="rewiew_image">
                <source srcset="./images/customer3.jpg 1x, ./images/customer3@2x.jpg 2x" type="image" />
                <img src="./images/customer3.jpg" alt="First girl" />
            </picture>
            <div class="rewiew-box">
                <p class="rewiew-box_text">Ice creams. They control us. They possess us. They clog our arteries and make our thighs and tummies
                    bulge. Yet we love
                    them, yet we eat them just for savouring a few moments of ecstasy. We know that they do no good, but
                    all worries are
                    forgotten when we lick the simply tantalizing and irresistible cream.
                </p>
            </div>
            <div>
                <div class="rewiew-circle">
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-circle_item" width="4" height="4"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                </div>
                <p class="rewiew_name">Kira, Los Amos</p>
            </div>
        </li>
        <div class="rewiew-name_slider">
                <svg class="rewiew-name_item" width="12" height="12"><use href="./images/sprite-icons.svg#icon-home-1"></use></svg>
                <svg class="rewiew-name_item" width="12" height="12"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
                <svg class="rewiew-name_item" width="12" height="12"><use href="./images/sprite-icons.svg#icon-Ellipse-5"></use></svg>
        </div>
    </ul>
    </div>
</section>