<section>
    <ul>
        <li> test text
            <picture>
                <source srcset="./images/customer1.jpg 1x, ./images/customer1@2x.jpg 2x" type="image" />
                <img src="./images/customer1.jpg" alt="First girl" />
            </picture>
            <div>
                <img src="./images/quotes@2x.png" alt="quote" width="54" height="40">
                <p>I think we all are Ice cream lovers and the best five Ice cream from my opinion are Cornetto: This is
                    a frozen dessert
                    cone, the best flavor is Strawberry because it tastes like I'm eating Strawberry with some
                    chocolate.
                    Vadilal: This brand is a little more expensive but the taste of these Icecreams is really good. Why
                    not give this a try?
                    Mother's Dairy: The best option is the family pack Ice cream in this case. They are good at the
                    taste and don't have ice
                    crystals in it.
                </p>
            </div>
            <div>
                <p>Emily, Los Angeles</p>
            </div>
        </li>
        <li class="none">
            <picture>
                <source srcset="./images/customer2.jpg 1x, ./images/customer2@2x.jpg 2x" type="image" />
                <img src="./images/customer2.jpg" alt="First girl" />
            </picture>
            <div>
                <img src="./images/quotes@2x.png" alt="quote" width="54" height="40">
                <p>I am not a big fan of sweets. But even then there are certain sweets that make me go gag a over them.
                    I am very
                    particular about these especially chocolates and Ice creams. I love those that are not too sweet.
                    But I definitely do
                    have a list of delicacies that render to my sweet tooth
                </p>
            </div>
            <div>
                <p>Britney, San Diego</p>
            </div>
        </li>
        <li class="none">
            <picture>
                <source srcset="./images/customer3.jpg 1x, ./images/customer3@2x.jpg 2x" type="image" />
                <img src="./images/customer3.jpg" alt="First girl" />
            </picture>
            <div>
                <img src="./images/quotes@2x.png" alt="quote" width="54" height="40">
                <p>Ice creams. They control us. They possess us. They clog our arteries and make our thighs and tummies
                    bulge. Yet we love
                    them, yet we eat them just for savouring a few moments of ecstasy. We know that they do no good, but
                    all worries are
                    forgotten when we lick the simply tantalizing and irresistible cream. At that time, we are
                    blissfully unaware of the
                    horrible consequences. THAT is the power of an ice cream.
                </p>
            </div>
            <div>
                <p>Kira, Los Amos</p>
            </div>
        </li>
    </ul>
</section>