.backdrop {
  @media screen and (max-width: 480px) {
    padding: 20px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(177, 75, 75, 0.6);
  opacity: 1;
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}

.about__modal {
  text-align: center;
  position: relative;
  opacity: 1;
  width: 100%;
  z-index: 1;

  transition: opacity 250ms linear, translate 250ms linear, transform 250ms linear;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  min-height: 500px;
  border-radius: 8px;
  padding: 40px 15px;

  background-image: linear-gradient(to bottom, #ffa5ba 20%, #ffb8ca 20%);

  @media screen and (min-width: 480px) {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  // @media screen and (min-width: 768px) {
  //   background-image: linear-gradient(to bottom, #ffa5ba 25%, #ffb8ca 25%);
  // }

  @media screen and (min-width: 1280px) {
    min-height: 550px;
  }
}

.backdrop.is-hidden .about__modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms linear;
}

.about__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #d41443;
  }
}

.about-form__title {
  font-family: DM Sans;
  color: #d41443;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 25px;
    margin-bottom: 40px;
  }

  // @media screen and (min-width: 1280px) {
  //   font-size: 30px;
  //   margin-bottom: 50px;
  // }
}

.about-form__text {
  font-family: DM Sans;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  // @media screen and (min-width: 1280px) {
  //   font-size: 20px;
  // }
  @media screen and (max-width: 479px) {
    font-size: 14px;
  }
}

.about-form__label {
  font-family: DM Sans;
  color: white;
  font-size: 14px;
  margin-bottom: 30px;
  margin-right: 20px;

  &:nth-child(4n + 1) {
    margin-right: 0px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 479px) {
    font-size: 12px;
    margin-right: 10px;
  }
}

.about-form__button {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.28;
  text-align: center;
  padding-left: 37px;
  margin-top: 30px;
  padding-right: 37px;
  color: #d41443;
  min-width: 176px;
  height: 44px;
  background: #fff;
  border-radius: 22px;
  border: none;
  transition: background 0.25s linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 50px;
  }
}

.about__checkbox {
  display: inline-block;

  margin-right: 8px;

  width: 16px;
  height: 15px;

  border-radius: 50%;
  border: 2px solid white;

  @media screen and (max-width: 479px) {
    width: 10px;
    height: 10px;
    margin-right: 4px;
  }
}

.about-form__input {
  display: flex;
  align-items: center;
  margin-right: 8px;

  &:checked + .about__checkbox {
    border-color: #d41443;
    background-color: white;
  }
}

.about-form__svg-btn {
  margin-left: 14px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
