.advantages {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 80px;

  background: $light-pink-background;

  @media screen and (min-width: $tablet) {
    padding-top: 140px;
    padding-bottom: 140px;
    margin: 0 auto;
  }
}

.advantages__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -60px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: -30px;
  }
}

.advantages__item {
  display: block;
  position: relative;
  max-width: 230px;

  @media screen and (min-width: $tablet) {
    max-width: 180px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 330px;
  }

  &:not(:last-child) {
    margin-bottom: 100px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &.advantages__item--first::before {
    position: absolute;
    left: 0;
    bottom: 100%;

    content: '';
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url('./../images/advantage-icon1.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &.advantages__item--second::before {
    position: absolute;
    left: 0;
    bottom: 100%;

    content: '';
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url('./../images/advantage-icon2.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &.advantages__item--third::before {
    position: absolute;
    left: 0;
    bottom: 100%;

    content: '';
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url('./../images/advantage-icon3.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.advantages__text--biggest {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;

  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $colorFont-red;

  @media screen and (min-width: $tablet) {
    margin-bottom: 25px;

    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;

    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: $colorFont-black;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.advantages__text--moving {
  &:hover,
  &:focus {
    animation-name: rotation;
    animation-duration: 0.5s;
    animation-timing-function: $timing-function;
  }
}
