.contacts {
  @media screen and (max-width: 767px) {
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom, #ffffff 5%, #fff5f6 5%);
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 158px;
    background-image: linear-gradient(to bottom, #ffffff 8%, #fff5f6 8%);
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 165px;
    background-image: linear-gradient(to bottom, #ffffff 10%, #fff5f6 10%);
  }
}

.cards {
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 86px;
  }
}
.cards__item {
  padding: 43px 20px;
  background-color: $wite-basic-background;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  animation-name: scale;
  animation-duration: 3s;
  transition: $trans-duration $timing-function;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.cards__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $colorFont-white;
  background-color: $background-beige;
  border-radius: 4px;
  padding: 4px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 16px;
  &--color {
    width: 130px;
    background-color: $background-light-green;
  }
}
.cards__adress {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
}
.cards__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $colorFont-black;
  &--margin {
    margin-bottom: 10px;
  }
}

.cards__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $colorFont-gray;
}
.cards__timetable {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $colorFont-pink;
  &--margin {
    margin-bottom: 10px;
  }
}
.contacts-nav {
  margin-top: 25px;
}
.contacts-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $colorFont-gray;
  transition: color $trans-duration $timing-function;
  &:hover,
  &:focus {
    color: $colorFont-pink;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.buttons__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.button--size {
  min-width: 161px;
  height: 44px;
}
.buttons-icon {
  @media screen and (max-width: 767px) {
    margin-left: 8px;
  }
  margin-left: 13px;
}
.button {
  @media screen and (max-width: 767px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 37px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 39px;
  }
  &:hover,
  &:focus {
    background: #ecebeb;
    box-shadow: 2px 5px 2px 1px rgb(0 0 0 / 25%);
  }
  transition: $trans-duration $timing-function;
  transition-property: background-color, box-shadow;
}
.button--red {
  @media screen and (max-width: 767px) {
    padding: 0 17px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 35px;
  }
  &:hover,
  &:focus {
    background: #d41342;
    box-shadow: 2px 5px 2px 1px rgb(0 0 0 / 25%);
  }
}

// MAP LOCATION EMBEDDING
.map-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;

  min-width: 160px;
  height: 44px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  cursor: pointer;
  background-color: #fff;
  color: #d41443;
  border-radius: 22px;

  animation-name: teeterTotter;
  animation-delay: 4s;
  animation-iteration-count: infinite;

  transition: background-color $timing-function $trans-duration;
}

.map {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  // max-width: 480px;

  background-color: rgba(25, 28, 38, 0.3);

  transition: 1050ms $timing-function;
}

.map-frame {
  position: absolute;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  border-radius: 4px;
  padding: 20px;
  top: 37%;
  left: 16%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px,
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  transform: scale(0.8) rotate(280deg);
  transition: 1s $timing-function;

  z-index: 5;
  background-color: #ffa5ba;

  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
  @media screen and (min-width: $tablet) {
    top: 43%;
    left: 21%;
    width: 400px;
    height: 300px;
  }
  @media screen and (min-width: $desktop) {
    width: 600px;
    height: 500px;
    top: 40%;
    left: 30%;
  }
}

.map-open {
  transform: scale(1) rotate(360deg);
  top: 17%;
  left: 12%;
  max-width: 77vw;
  height: 50vh;
  @media screen and (min-width: $mobile) {
    width: 75vw;
    height: 65vh;
  }
  @media screen and (min-width: $desktop) {
    width: 50vw;
    height: 65vh;
    left: 25%;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
