.footer {
  background: $light-pink-background;
}
.container__footer {
  @media screen and (min-width: $mobile) {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.footter__duplicate-header {
  width: 234px;
  height: 135px;
  @media screen and (min-width: $mobile) {
  }
  @media screen and (min-width: $tablet) {
    width: 340px;
    height: 183px;
  }
  @media screen and (min-width: $desktop) {
    width: 500px;
    height: 115px;
  }
}

.footter__duplicate-header--pink {
  font-family: Titan One;
  line-height: 1.14;
  color: #ffa5ba;
  font-size: 18px;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    font-size: 26px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.footter__duplicate-header--red {
  font-family: Titan One;
  line-height: 1.14;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-top: 17px;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
    letter-spacing: 0.06em;
    margin-top: 15px;
  }
}
.footer__contact {
  margin-top: 46px;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}
.footer__list {
  display: flex;
  justify-content: end;
  @media screen and (min-width: $mobile) {
    margin-top: 43px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

.footer__contact-tel {
  margin-bottom: 50px;
}
.footer__contact-text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
  margin-top: 46px;

  color: #000000;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.footer__contact-link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  color: #d41443;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.footer__signature {
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e1e1e1;
  @media screen and (min-width: $mobile) {
    padding-top: 22px;
    padding-bottom: 25px;
    margin-top: 43px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    padding-top: 29px;
    padding-bottom: 18px;
    margin-top: 91px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 9px;
    padding-bottom: 19px;
    margin-top: 97px;
  }
}

.footer__signature-description {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #907e82;
  @media screen and (min-width: $tablet) {
    margin-left: 6px;
  }
}
