.products__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  cursor: pointer;
  outline: none;

  border: none;
  border-radius: 50%;

  background-color: $colorFont-white;
  color: $buttonColor-light-red;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: $colorFont-red;
  }
}

.products_padding {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.natural {
  font-family: Titan One;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: $colorFont-pink;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.section__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $colorFont-red;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}
.products {
  margin-top: 144px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    &:not(:last-child) {
      margin-right: 20px;
    }
    margin-top: 150px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 23px;
    }
    margin-top: 259px;
  }
}

.products__item {
  margin: 0 auto;
  align-items: center;
  position: relative;
  border-radius: 24px;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
  transition: box-shadow $trans-duration $timing-function;
  @media screen and (max-width: 767px) {
    width: 280px;
    &:not(:first-child) {
      margin-top: 130px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 150px 11px 40px 11px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding: 163px 44px 50px 44px;
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.products__img {
  position: absolute;
  top: 0;
  @media screen and (max-width: 767px) {
    transform: translateX(-20px) translateY(-113px);
  }
  @media screen and (min-width: 768px) {
    left: 0;
    transform: translateY(-104px);
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    transform: translateY(-210px);
    width: 335px;
  }
}
.ice_cream,
.ice_cream__modal {
  background-color: $pink-basic-background;
}
.ice_coffee,
.ice_coffee__modal {
  background-color: $background-beige;
}
.milkshakes,
.milkshakes__modal {
  background-color: $background-light-green;
}

.products__titel {
  font-family: Titan One;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorFont-white;
  &::after {
    display: flex;
    content: '';
    width: 26px;
    height: 6px;
    margin: 30px auto 0;

    background: url(../images/prod_titel_after.png);
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;
    &::after {
      margin-top: 32px;
    }
  }
}

.products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;

  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 62px;
  }
}

.products__icon {
  fill: $colorFont-red;
  .products__btn:hover &,
  .products__btn:focus &,
  .products__btn:active & {
    fill: $colorFont-white;
  }
}

.animation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 24px;
  padding-top: 100px;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  z-index: 3;
  height: 100%;

  transition: 550ms $timing-function;
}

.animation-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.products__modal {
  max-width: 250px;
  margin: auto;
  border-radius: 24px;
  padding: 40px 20px;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px,
    rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}
.animation__titel {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.animation__titel {
  font-family: Titan One;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;

  color: $buttonColor-light-red;
}
.animation__text {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.52;

  color: $colorFont-white;
}

// .ice_cream__modal {
//   background-color: rgb(255, 192, 203, 0.9);
// }
