.products__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  cursor: pointer;
  outline: none;

  border: none;
  border-radius: 50%;

  background-color: $colorFont-white;
  color: $buttonColor-light-red;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: $colorFont-red;
  }
}

.products_padding {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.natural {
  font-family: Titan One;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: $colorFont-pink;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.section__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $colorFont-red;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}
.products {
  margin-top: 144px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    &:not(:last-child) {
      margin-right: 20px;
    }
    margin-top: 150px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 23px;
    }
    margin-top: 259px;
  }
}

.products__item {
  margin: 0 auto;
  align-items: center;
  position: relative;
  border-radius: 24px;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
  transition: box-shadow $trans-duration $timing-function;
  @media screen and (max-width: 767px) {
    width: 280px;
    &:not(:first-child) {
      margin-top: 130px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 150px 11px 40px 11px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding: 163px 44px 50px 44px;
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.products__img {
  position: absolute;
  top: 0;
  @media screen and (max-width: 767px) {
    transform: translateX(-20px) translateY(-113px);
  }
  @media screen and (min-width: 768px) {
    left: 0;
    transform: translateY(-104px);
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    transform: translateY(-210px);
    width: 335px;
  }
}
.ice_cream {
  background-color: $pink-basic-background;
}
.ice_coffee {
  background-color: $background-beige;
}
.milkshakes {
  background-color: $background-light-green;
}
.ice_cream,
.ice_coffee,
.milkshakes {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
}
.products__titel {
  font-family: Titan One;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorFont-white;
  &::after {
    display: flex;
    content: '';
    width: 26px;
    height: 6px;
    margin: 30px auto 0;

    background: url(../images/prod_titel_after.png);
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;
    &::after {
      margin-top: 32px;
    }
  }
}

.products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;

  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 62px;
  }
}

.products__icon {
  fill: $colorFont-red;
  .products__btn:hover &,
  .products__btn:focus &,
  .products__btn:active & {
    fill: $colorFont-white;
  }
}
