.none {
  display: none;
}
.section-rewiew {
  padding-top: 123px;
  margin-bottom: 132px;
}
.rewiew_image {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.rewiew-box {
  margin-bottom: 30px;
  padding: 43px 57px 26px 66px;
  background-color: #fafafa;
  @media screen and (min-width: $tablet){
    margin-bottom: 24px;
    padding: 30px 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
    padding: 26px 57px;
}
}
.rewiew-box_text::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 54px;
  height: 40px;
  background-image: url(../images/quotes.png);
  z-index: -1;
}
.rewiew-box_text {
  position: relative;
  padding: 0px 30px 20px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.80;
  text-align: center;
  letter-spacing: 0.04em;
  color: $colorFont-black;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 28px,
    #e1e1e1 0,
    #e1e1e1 29px
  );
  background-position: center bottom 3px;
  z-index: +2;
  @media screen and (min-width: $desktop) {
    padding: 0px 25px 0px 35px;
}
}
.rewiew-circle {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  fill: $buttonColor-Hover-red;
  @media screen and (min-width: $tablet){
    margin-bottom: 14px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}
.rewiew-circle_item:not(:last-child) {
  margin-right: 10px;
}
.rewiew_name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet){
    margin-bottom: 35px;
  }
}
.rewiew-name-slider {
  display: flex;
  justify-content: center;
}
.rewiew-name_item {
  fill: #D9D9D9;
}
.rewiew-name_item:not(:last-child) {
  margin-right: 18px;
}